:root {
    --hoofdkleur: #1F1E23;
    --tinybalk: #F5E8C7;
    --balk: #5C3D2E;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
}

nav {
    display: block;
    height: 5vh;
    background: #23211e;
    color: white;
    padding: 2rem;
}

.logo {
    float: left;
}

.tabs {
    display: flex;
    justify-content: space-between;
    float: right;
    width: 500px;
}

.tussenstuk {
    font-size: 60px;
    -webkit-text-stroke: 2px white;
    color: transparent;
    display: block;
}

.ani {
    animation: type 1s steps(26);
    z-index: 2;
    overflow: hidden;
    white-space: nowrap;
    width: 26ch;
}

@keyframes type {
    0% {
        width: 0ch;
        border-right: 2px solid white;
    }
    100% {
        width: 20ch;
        border-right: 2px solid white;
    }
}

.circle {
    width: 500px;
    height: 500px;
    line-height: 500px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    text-align: center;
    background: #000;
    position: absolute;
    top: 5%;
    left: 2%;
    z-index: 0;
}

.begin {
    height: 92vh;
    background: #23211e;
    color: white;
    position: relative;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: #F5E8C7;
    transition: 0.5s;
}

.balk {
    height: 20vh;
    background: #5C3D2E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balktiny {
    height: 5vh;
    background: #F5E8C7;
    color: white;
}

.headfoto {
    height: 90vh;
    position: absolute;
    right: 5px;
    bottom: 0px;
}

.title {
    position: absolute;
    top: 22%;
    left: 10%;
    font-size: 100px;
    -webkit-text-stroke: 2px white;
    display: block;
    z-index: 2;
    text-decoration: black;
}

.undertitle {
    position: absolute;
    top: 35%;
    left: 10%;
    font-size: 80px;
    -webkit-text-stroke: 2px white;
    color: transparent;
    display: block;
    z-index: 2;
}

.quote {
    position: absolute;
    top: 48%;
    left: 10%;
    font-size: 40px;
    display: block;
    z-index: 2;
}

.eerst {
    display: flex;
}

.tweet {
    display: flex;
    margin-top: 5vh;
}

.beats {
    background: #F4F5FF;
    min-height: 80vh;
    padding: 10vh;
    display: flex;
}

.nopad {
    padding: 0 !important;
    margin-top: 25px;
}

.titleabout {
    -webkit-text-stroke: 2px #fff;
    color: #fff;
    font-size: 40px;
}

.about {
    background: #887157;
    min-height: 80vh;
    padding: 10vh;
    color: white;
}

footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23211e;
    color: white;
}

.beatssectie {
    min-height: 80vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10vh;
}

.naast {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.beatssectie .card {
    background-color: #5C3D2E;
    height: 30vh;
    border-radius: 30px;
    margin-bottom: 10vh;
}

.player {
    width: 100% !important;
    height: 5vh;
    border-radius: 20px;
    border: none;
    background-color: #887157;
    color: white;
    transition: 0.5s;
}

.titlebeat {
    text-align: center;
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-size: 30px;
    height: 15vh;
}

.player:hover {
    background-color: #F5E8C7;
    transition: 0.5s;
    color: #887157;
}

audio {
    width: 100%;
    height: 5vh;
    margin-left: 5px;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    border: 6px solid #23211e;
    color: white;
}

.audio-player {
    width: 15rem;
    height: 15rem;
    --player-button-width: 2em;
    --player-button-width: 2em;
    --sound-button-width: 1.5em;
    --space: .5em;
}

.icon-container {
    width: 100%;
    height: 100%;
    background-color: #DE5E97;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-icon {
    width: 90%;
    height: 90%;
}

.controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.player-button {
    background-color: transparent;
    border: 0;
    width: var(--player-button-width);
    height: var(--player-button-width);
    cursor: pointer;
    padding: 0;
}

.timeline {
    -webkit-appearance: none;
    width: calc(100% - var(--player-button-width));
    height: 1em;
    background-color: #e5e5e5;
    border-radius: 5px;
    margin-left: 5px;
    background-size: 0% 100%;
    background-image: linear-gradient(#5C3D2E, #5C3D2E);
    background-repeat: no-repeat;
    width: calc(100% - (var(--player-button-width) + var(--sound-button-width) + var(--space)));
    margin-right: var(--space);
}

.card-img-top {
    max-height: 150px;
    min-height: 150px;
}

.timeline::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: all .1s;
    background-color: #5C3D2E;
}

.timeline::-webkit-slider-thumb:hover {
    background-color: #5C3D2E;
}

.timeline:hover::-webkit-slider-thumb {
    opacity: 1;
}

.timeline::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

.sound-button {
    background-color: transparent;
    border: 0;
    width: var(--sound-button-width);
    height: var(--sound-button-width);
    cursor: pointer;
    padding: 0;
}

.onLoad {
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.cent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover {
    height: 256px;
    width: 256px;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.bord {
    position: absolute;
    bottom: 0px;
    left: 200px;
    border-right: 3px solid #F5E8C7;
    animation: borderupdown 2s infinite;
    animation-fill-mode: forwards;
    width: 25px;
}

.scrolldown {
    position: absolute;
    bottom: 90px;
    left: 160px;
    font-size: 16px;
}

@keyframes borderupdown {
    0% {
        height: 0;
    }
    50% {
        height: 60px;
        transform: translate(0, 0);
        opacity: 1;
    }
    80% {
        transform: translate(0, 40px);
        height: 0;
        opacity: .5;
    }
    100% {
        height: 0;
    }
}

body::-webkit-scrollbar {
    width: 20px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #23211e;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #23211e;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #887157;
    /* creates padding around scroll thumb */
}

.card {
    height: 50vh;
    margin-top: 2vh;
    color: black;
    padding: 2vh;
}

.card-body {
    padding: none;
    margin: none;
    text-align: center;
    padding: none;
}

.card-body p {
    font-size: 20px;
}

.titlekaart {
    text-align: center;
    font-weight: 900;
}

.fotokaart {
    height: 30vh;
}

.btn-primary {
    background-color: #887157 !important;
    border: none;
}

.uitleg {
    height: 10vh;
    text-align: center;
    font-size: 20px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.grotekaart {
    background-color: #887157;
    display: flex;
    width: 100%;
}

.linksestuk {
    height: 100%;
    width: 50%;
    background-color: #23211e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.rechtsestuk {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: white;
    padding: 10vh;
}

.rechtsestuk h2 {
    text-align: center;
    margin-top: 5px;
}

input {
    width: 100%;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bigger {
    margin-top: 20px;
    height: 200px;
    width: 100%;
}

.but {
    margin-top: 20px;
    width: 30%;
    border-radius: 5px;
    border: none;
}

.but:hover {
    background-color: #F5E8C7;
    transition: 0.5s;
}

.envlope {
    filter: invert(1);
    width: 20%;
    height: 20%;
}

@media only screen and (max-width: 966px) {
    nav {
        display: none;
    }
    .circle {
        width: 200px;
        height: 200px;
        line-height: 500px;
        border-radius: 50%;
        font-size: 50px;
        color: #fff;
        text-align: center;
        background: #000;
        position: absolute;
        top: 45%;
        left: 25%;
        z-index: 0;
    }
    .headfoto {
        height: 60vh;
        position: initial;
        z-index: 1;
    }
    .nopad {
        font-size: 16px;
    }
    .titleabout {
        font-size: 40px;
    }
    .about {
        background: #887157;
        min-height: 80vh;
        padding: 5vh;
        color: white;
        text-align: center;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column !important;
    }
    .begin {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20%;
    }
    .title {
        text-align: center;
        position: initial;
        font-size: 70px;
        -webkit-text-stroke: 2px white;
        margin: none;
        z-index: 2;
        text-decoration: black;
    }
    .undertitle {
        position: initial;
        font-size: 50px;
        -webkit-text-stroke: 2px white;
        color: transparent;
        z-index: 2;
    }
    .quote {
        position: initial;
        font-size: 20px;
        margin-bottom: 1px;
        z-index: 3;
    }
    body::-webkit-scrollbar {
        width: 0;
        /* width of the entire scrollbar */
    }
    body::-webkit-scrollbar-track {
        background: #23211e;
        /* color of the tracking area */
    }
    body::-webkit-scrollbar-thumb {
        background-color: #23211e;
        /* color of the scroll thumb */
        border-radius: 0px;
        /* roundness of the scroll thumb */
        border: 0px solid #887157;
        /* creates padding around scroll thumb */
    }
    .flex {
        width: 100% !important;
    }
    .beats {
        display: flex;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
        flex-direction: column;
    }
    .card {
        height: 50vh;
        padding-top: 2vh;
        color: black;
        width: 100%;
        margin-top: 5vh;
        border-radius: 10px;
    }
    .card-body {
        padding: none;
        margin: none;
        text-align: center;
    }
    .card-body p {
        font-size: 20px;
    }
    .sec {
        padding: 2vh;
    }
    .grotekaart {
        background-color: #887157;
        display: flex;
        width: 100%;
        border-radius: 10px;
        flex-direction: column;
    }
    .linksestuk {
        height: 100%;
        border-radius: 10px;
        width: 100%;
        background-color: #23211e;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        flex-direction: column;
    }
    .rechtsestuk {
        display: flex;
        width: 100%;
        flex-direction: column;
        color: white;
        padding: 2vh;
    }
    footer {
        height: 5vh;
        background-color: #23211e;
        color: white;
    }
    .but {
        width: 50%;
    }
    .beatssectie {
        min-height: 80vh;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 20vh;
    }
    
    .naast {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }
}